[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pyyaml = "*"
pysocks = "*"
openai = "*"
web3 = "*"
requests = "*"
sqlalchemy = "*"
pillow = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.1"
